<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %> </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <ul class="nav nav-pills bg-dark d-flex justify-content-center sticky">
    <li class="nav-item">
      <a class="nav-link text-white" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="/About">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="/albums">Albums</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="/feedback">Feedback</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="/chat">Chat</a>
    </li>
  </ul>

  <div class="container-fluid">
    <div class="row justify-content-center">
        <% allInfo.forEach(element => { %>
          <div class="card col-3 m-5 border-danger shadow">
            <a href="/albums/<%= element.shortname %> ">
              <img src="/images/album-covers/<%= element.imgURL %>" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
              <a href="/albums/<%= element.shortname %> ">
                <h4 class="card-title text-center"><%= element.name %> </h4>
              </a>
            </div>
          </div>
        <% }) %>
    </div>
  </div>

</body>
</html>